{% extends 'base.html' %}

{% block title %}Заказы справок (Секретарь){% endblock %}

{% block content %}
<h1>Все заказы справок (в ожидании)</h1>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Студент</th>
            <th>Группа</th>
            <th>Количество</th>
            <th>Статус</th>
            <th>Дата запроса</th>
            <th>Изменить статус</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.user.full_name }} ({{ order.user.email }})</td>
            <td>{{ order.group }}</td>
            <td>{{ order.quanity }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    {{ form.status }}
                    {{ form.comment }}
                    <button type="submit" class="btn btn-sm btn-success mt-2">Обновить</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="7">Нет заказов в ожидании</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
