{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Страница секретаря</title>
</head>
<body>
<main>
    <section style="width: 1000px;">
        <div>
            <h2 align='center'>Все заявки:</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ФИО</th>
                    <th>Группа</th>
                    <th>Количество</th>
                    <th>Статус</th>
                    <th>Комментарий</th>
                    <th>Подтверждение</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.group }}</td>
                        <td>{{ order.quanity }}</td>
                        <td colspan="3">
                            <form method="post" style="display: flex; gap: 5px; align-items: center;">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                <select name="status" required>
                                    {% for key, value in form.fields.status.choices %}
                                        <option value="{{ key }}" {% if key == order.status %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="comment" value="{{ order.comment }}" placeholder="Комментарий">
                                <button type="submit" class="confirm-button">Сохранить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="nogi">
            <a href="{% url 'orders:index' %}"><button class="niz">Главная Страница</button></a>
        </div>
    </section>
</main>
</body>
</html>
