{% extends "base.html" %}
{% load i18n %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-card">
    <h2>{% trans "Login" %}</h2>
    <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}

    <p>
        {{ form.login.label_tag }}<br>
        {{ form.login }}
        {{ form.login.errors }}
    </p>

    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {{ form.password.errors }}
        {# Ссылка "Забыли пароль?" убрана из help_text #}
    </p>

    {% comment %} <p style="display: flex; align-items: center; gap: 8px;">
        <label for="{{ form.remember.id_for_label }}">Запомнить меня</label>
        {{ form.remember }}
        {{ form.remember.errors }}
    </p> {% endcomment %}

    <button type="submit">Войти</button>
</form>

    <div class="form-links">
        <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
        <span>&middot;</span>
        <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
    </div>
</div>

{% endblock %}
