{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Справки{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-file-lines"></i> Справки
        </div>
        <nav>
        {% if user.is_authenticated %}
            {% if user.role == "admin" %}
                <a href="{% url 'orders:secretary' %}">
                    <i class="fa-solid fa-clipboard-list"></i> Страница секретаря
                </a>
                <a href="{% url 'orders:create_order' %}">
                    <i class="fa-solid fa-plus"></i> Страница студента
                </a>
            {% endif %}
            
            <a href="{% url 'users:complete_profile' %}" class="user-link">
                {{ user.full_name|default:user.email }}
            </a>
            
            <a href="{% url 'account_logout' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти
            </a>
            

        {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
