{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Справки{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header>
        <a href="{% url "users:redirect_by_role" %}">
            <div class="logo">
                <i class="fa-solid fa-file-lines"></i> Справки
            </div>
        </a>

        <button class="burger" aria-label="Toggle menu" aria-expanded="false" aria-controls="main-nav">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>

        <nav id="main-nav" class="nav-links">
        {% if user.is_authenticated %}
            {% if user.role == "admin" %}
                <a href="{% url 'orders:create_order' %}">
                    <i class="fa-solid fa-plus"></i> Страница студента
                </a>    
                <a href="{% url 'orders:secretary' %}">
                    <i class="fa-solid fa-clipboard-list"></i> Страница секретаря
                </a>
                <a href="{% url 'users:admin_create_user' %}">
                    <i class="fa-solid fa-plus"></i> Страница администратора
                </a>
            {% endif %}

            <a href="{% url 'users:complete_profile' %}" class="user-link">
                {{ user.full_name|default:user.email }}
            </a>

            <a href="{% url 'account_logout' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти
            </a>
        {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('nav.nav-links');

    burger.addEventListener('click', () => {
        nav.classList.toggle('active');
        const expanded = burger.getAttribute('aria-expanded') === 'true';
        burger.setAttribute('aria-expanded', String(!expanded));
    });
    });
</script>

{% endblock extra_js %}
</body>
</html>
